<!doctype html>
<html lang="en">


<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="static/css/home.css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Bootstrap CSS -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('home') }}" >
          <img src="static/img/logo1.png"  width="150" alt="" class="d-inline-block align-middle mr-2">
          <span style="margin-left: -20px">Home</span>

      </a>

      <!-- Logo Text -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex" action="{{url_for('result')}}">

          <input class="form-control me-2 m-md-auto" type="search" placeholder="Search for products" aria-label="Search" , name="q" style="margin-left: -20px; width: 300px;">
          <button class="btn btn-dark" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">


            {% if current_user.is_anonymous %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Hello, Sign in
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>Customers</li>
              <li><a href="{{ url_for('login') }}">Login</a></li>
              <li><a href="{{ url_for('signup')}}">Register</a></li>

            </ul>
          </li>

            {% else %}

         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Hello,{{ current_user.username }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a href="{{url_for('userprofile')}}">Profile</a></li>
              <li><a href="{{ url_for('logout') }}">Logout</a></li>

            </ul>
          </li>





    {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('getCart')}}">Cart({{session['Cart']|length}})</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

</head>
<!-- Navbar ends here -->

<body>


  {% block content %}
  {% endblock content %}
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="{{ url_for ('static', filename='js/bootstrap.bundle.min.js')}}"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" ></script>
    -->
</body>

</html>