{% extends "base.html" %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}

        {% for message in messages %}
        {{ message }}
        {% endfor %}
        {% endif %}
    {% endwith %}

    {% if user %}
    <h2>
        Are you sure you want to delete your account User: {{ user.username }}?
    </h2>
    {% endif %}


    <form action="" method="post" novalidate>
    <input type="submit" name="Yes" value="Yes">
    </form>
    <form action="" method="post" novalidate>
    <input type="submit" name="No" value="No">
    </form>

{% endblock content %}