{% extends "base.html" %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}

        {% for message in messages %}
        {{ message }}
        {% endfor %}
        {% endif %}
    {% endwith %}

    {% if user %}
    <h1>
        Current Email: {{ user.email }}
    </h1>
    {% endif %}

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}
    </p>
    <p>{{ form.submit() }}</p>
    </form>

    <form action="" method="post" novalidate>
    <input type="submit" name="Cancel" value="Cancel">
    </form>

{% endblock content %}