
<div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}

    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h1>Merchant SignUp</h1>
    <form action="{{ url_for('signup_merchant') }}" method="POST">
        
        <p>
            {{ form.fullname.label }}
            {{ form.fullname(size=32) }}

        </p>

        <p>
            {{ form.username.label }}
            {{ form.username(size=32) }}

        </p>

        <p>
            {{ form.password.label }}
            {{ form.password(size=32) }}

        </p>

        <p>
            {{ form.reenter.label }}
            {{ form.reenter(size=32) }}

        </p>

        




        <p>
            {{ form.submit() }}
        </p>
        <p>Already have seller account</p>
<a href="{{ url_for('login_merchant') }} ">Login</a>
    </form>
</div>


