{% extends "base.html" %}

{% block content %}

<h1>Sign Up</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.full_name }}<br>
            {{ form.full_name(size=32) }}
        </p>
        <p>
            {{ form.address_line_one }}<br>
            {{ form.address_line_one(size=256) }}
        </p>
        <p>
            {{ form.address_line_two }}<br>
            {{ form.address_line_two(size=256) }}
        </p>
        <p>
            {{ form.city }}<br>
            {{ form.city(size=128) }}
        </p>
        <p>
            {{ form.state_province_region }}<br>
            {{ form.state_province_region(size=128) }}
        </p>
        <p>
            {{ form.zip_postal_code }}<br>
            {{ form.zip_postal_code(size=32) }}
        </p>
        <p>
            {{ form.country }}<br>
            {{ form.country(size=64) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock content %}