{% extends "base.html" %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}

        {% for message in messages %}
        {{ message }}
        {% endfor %}
        {% endif %}
        {% endwith %}

    {% if user %}
    <h1>
        {{ user.username }}
    </h1>
    {% endif %}

    <form>
        <input type="submit" name="Edit Username" value="Edit Username">
    </form>

    {% if edit_username_form %}
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
        </form>
    {% endif %}

    {% if user %}
    <div>
        {{ user.email }}
    </div>
    {% endif %}

    <form>
        <input type="submit" name="Edit Email" value="Edit Email">
    </form>

    {% if edit_email_form %}
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
        </form>
    {% endif %}

    <form>
        <input type="submit" name="Edit Password" value="Edit Password">
    </form>

    {% if edit_passowrd_form %}
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
        <p>
            {{ form.current_password.label }}<br>
            {{ form.current_password(size=32) }}
        </p>
        <p>
            {{ form.confirm_current_password.label }}<br>
            {{ form.confirm_current_password(size=32) }}
        </p>
        <p>
            {{ form.new_password.label }}<br>
            {{ form.new_password(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
        </form>
    {% endif %}

    {% if user %}
    <ul>
        <li>{{ user.full_name }}</li>
        <li>{{ user.address_line_one }}</li>
        <li>{{ user.address_line_two }}</li>>
        <li>{{ user.city }}</li>>
        <li>{{ user.state_province_region }}</li>>
        <li>{{ user.zip_postal_code }}</li>
        <li>{{ user.country }}</li>
    </ul>
    {% endif %}

    <form>
        <input type="submit" name="Edit Address" value="Edit Address">
    </form>
    {% if edit_address_form %}
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
        <p>
            {{ form.full_name.data }}<br>
            {{ form.full_name(size=32) }}
        </p>
        <p>
            {{ form.address_line_one.data }}<br>
            {{ form.address_line_one(size=256) }}
        </p>
        <p>
            {{ form.address_line_two.data }}<br>
            {{ form.address_line_two(size=256) }}
        </p>
        <p>
            {{ form.city.data }}<br>
            {{ form.city(size=128) }}
        </p>
        <p>
            {{ form.state_province_region.data }}<br>
            {{ form.state_province_region(size=128) }}
        </p>
        <p>
            {{ form.zip_postal_code.data }}<br>
            {{ form.zip_postal_code(size=32) }}
        </p>
        <p>
            {{ form.country.data }}<br>
            {{ form.country(size=64) }}
        </p>
        <p>{{ form.submit() }}</p>
        </form>
    {% endif %}


{% endblock content %}